<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ILDAViewer.net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ILDAViewer.net.Properties.Settings>
            <setting name="point_show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="point_size" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="line_width" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="multiplier_show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_blanked" serializeAs="String">
                <value>True</value>
            </setting>
        </ILDAViewer.net.Properties.Settings>
    </userSettings>
</configuration>